// base color
$blue: #1890ff;
$dark-blue:#324157;
$light-blue:#3A71A8;
$light-water-blue: #46D9FF;
$red:#C03639;
$pink: #E65D6E;
$dark-pink: #ff498f;
$purple: #B762D9;
$green: #30B08F;
$green-water: #78F6DD;
$dark-green: #009933;
$gray: #DADFE1;
$light-gray: #ECF0F1;
$dark-gray: rgba(182, 182, 182, 0.568);
$tiffany: #4AB7BD;
$yellow:#FEC171;
$orange: #FFA14E;
$white: #fff;
$black: #000;
$brown: #996633;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#fff;
$subMenuActiveText:#f4f4f5; // https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// Máximo.
$max-sm: 767px;

// Mínimos.
$min-md: 768px;
$min-xbg: 1700px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
	menuText: $menuText;
	menuActiveText: $menuActiveText;
	subMenuActiveText: $subMenuActiveText;
	menuBg: $menuBg;
	menuHover: $menuHover;
	subMenuBg: $subMenuBg;
	subMenuHover: $subMenuHover;
	sideBarWidth: $sideBarWidth;
	max-sm: $max-sm;
	min-md: $min-md;
	min-xbg: $min-xbg;
}
